.card--container {
  display: flex;
  flex-direction: column;

  font-style: italic;
  background-color: #ee4b6a;
  border: 2px solid #df3b57;
  border-radius: 10px;

  justify-content: center;
  align-items: center;

  font-size: 25px;
  cursor: pointer;
}

.card--image {
  width: 200px;
  height: 180px;
  border-radius: 10px;
  background-color: #ffffff;
}

.card--country-name {
  margin: 10px;
}
