* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D8A47F;
}

.app--container {
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

.app--cards-container {
  flex:1;
  padding: 15px;
  margin-top: 30px;

  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}